body {
    font-family: Arial, sans-serif;
    background-color: #181925; 
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 20px;
}

th, td {
    border: 2px solid #30334a; 
    padding: 10px;
    text-align: center;
}

th {
    background-color: #30334a; 
    color: #fff; 
}

td {
    background-color: #404463; 
    color: #fff; 
}
