@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-top: 20px;
}

.contact-us {
    background: #f8f4e5;
    padding: 50px 20px;
    border-top: 10px solid #f45702;
    width: 50%;
    text-align: left;
    box-shadow: 0px 0px 10px 0px #dfae4b;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f45702;
    text-align: center;
}

h2 {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #2A293E;
    text-align: start;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 25px);
    height: 30px;
    font-size: 16px;
    line-height: 1.5em;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    background: #f8f4e5;
    outline: none;
    margin-bottom: 20px;
}

.form-group select {
    height: 40px;
}

.form-group textarea {
    height: 80px;
}

.form-group input:valid,
.form-group select:valid,
.form-group textarea:valid {
    border: 1px solid #6bd4b1;
}

.form-group input:invalid,
.form-group select:invalid,
.form-group textarea:invalid {
    border: 1px solid #f45702;
}

textarea {
    resize: none;
}

button {
    display: block;
    float: right;
    font-size: 16px;
    line-height: 40px;
    padding: 0 30px;
    border: none;
    border-radius: 4px;
    background: #f45702;
    color: white;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: inherit;
    color: #f45702;
    border-bottom: 2px solid #f45702;
}

::selection {
    background: rgb(255, 199, 184);
}

